<%- include("partials/header")-%>

<h1>COMPOSE</h1>

<form class="" action="/compose" method="post">
<div class="form-group">
<label for="">Title</label>
  <input type="text" name="pp" value="" class="form-control">

<label for="">POST</label>
  <textarea name="pb" rows="8" cols="80" class="form-control" ></textarea>

</div>
<button class="btn btn-primary"  type="submit" name="button">Publish</button>


</form>
<%- include("partials/footer")-%>
